.skills {
    padding: 76px 0;
    text-align: center;
  }
  
  .skills h1 {
    margin-bottom: 20px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  